<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gas Reading in Paralelni Polis</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://gas.paralelnipolis.cz/favicon.ico"/>

    <meta property="og:title" content="Gas reading with SimpleCV and Scikit" />
    <meta property="og:image" content="http://gas.paralelnipolis.cz/img/og_image.png" />
    <meta property="og:url" content="http://gas.paralelnipolis.cz" />
    <meta property="og:description" content="Gas reading in Paralelni Polis with computer vision" />

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="img/pp-logo.svg" style="width:30px; height:auto; float:left;"> Paralelni Polis
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#motivation">Motivation</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#howdoesitwork">How does it work</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#aboutus">About Us</a>
                    </li>
<!--                     <li class="page-scroll">
                        <a href="#thanks">Thanks</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="background-color:#c9c9c9;">
        <div class="container" style="padding-top:150px;">
            <div class="row">
                <div class="col-lg-12">
                    <canvas id="canvas" height="100"></canvas>
                    <div class="intro-text">
                        <span class="name">Gas consumption in Paralelni Polis</span>
                        <span class="skills">Gas reading with SimpleCV and Scikit</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

        function make_graph(graph_data){
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(graph_data, {
                responsive: true,
                multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
                scaleOverride : true,
                scaleSteps : 20,
                scaleStepWidth : 1,
                scaleStartValue : -6 
            });
        }


        var xmlhttp = new XMLHttpRequest();
        var url = "http://gas.pavelkral.eu/jsapi.php";

        console.log(url);

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4) {
                var myArr = JSON.parse(xmlhttp.responseText);

                console.log(myArr);
                make_graph(myArr);
            }
        };

        xmlhttp.open("GET", url, true);
        xmlhttp.send();

    </script>

    <!-- About Section -->
    <section id="motivation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black;">Motivation</h2>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                        Paralelni Polis is three storey building with no insulation whatsoever. Our gas consumption is so big, that last year our gas bill reached the sky, and we got disconnected.
                        This is the reason why we need keep an eye on our gas usage.
                    </p>
                </div>
            </div>            
        </div>
    </section>


<!--     <section id="motivation" style="padding-top:0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black;">Metrics</h2>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Gas used today : <b>11 &#13221;</b></p>
                    <p>Gas cost today : <b>1111 CZK</b></p>
                </div>
            </div>            
        </div>
    </section> -->


    <!-- About Section -->
    <section id="howdoesitwork" style="padding-top:0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black;">How does it work</h2>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-12 col-lg-offset-2">
                    <p>
                    Camera board has normal USB webcam glued on the front side with few LEDs to light up the scene.
                    Flexible camera stand is used to adjust camera view.
                    </p>
                </div>

                <img src="img/front-view.jpg" class="col-lg-4 col-sm-12 img-responsive" alt="">
            </div>

            <br>

            <div class="row">

                <img src="img/back-view.jpg" class="col-lg-4 col-sm-12 img-responsive col-lg-offset-2" class="img-responsive"  alt="">
                
                <div class="col-lg-4 col-sm-12">
                    <p>
                    This is how board looks like from the back.
                    On the left side you can see Odroid, WiFi dongle and USB memory stick. That's where SimpleCV does its magic.
                    In bottom corner sits voltage regulator which makes 5V out of 12V for Odroid.
                    And a lot of LEDs. Just to make the back cover look pretty.
                    </p>
                </div>
                

            </div>

            <br>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    And that's how everything looks in place.
                    Camera is positioned slightly above the gas meter, to prevent reflections from LEDs.
                    Back cover was designed and printed by <a href="http://makerslab.cz/" style="color:black;">MakersLab</a> is light up by many LEDs you can see on previous the image.
                    </p>
                </div>

                <img src="img/room-view.jpg" class="col-lg-4 col-sm-12 img-responsive" alt="">
                
            </div>

            <br>

            <div class="row">
                <img src="img/board7.jpg" class="col-lg-4 col-lg-offset-2 col-sm-12 img-responsive" alt="">

                <div class="col-lg-4">
                    <p>
                    This is image taken by the camera. That's where computer vision fun begins.
                    In corners you can see orange stickers which helps us to find the counter, area we are interested in.
                    </p>
                </div>
                
            </div>

            <br>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    We just look for orange blobs desired size. It's easy to find our stickers on the image.
                    </p>
                </div>

                <img src="img/image_with_markers.png" class="col-lg-4 col-sm-12 img-responsive" alt="">
                
            </div>

            <br>


            <div class="row">
                <img src="img/fixed_perspective.jpg" class="col-lg-4 col-lg-offset-2 col-sm-12 img-responsive" alt="">

                <div class="col-lg-4">
                    <p>
                    Knowing where the corners are, we can resize the counter to a rectangle of known size.
                    </p>
                </div>
                
            </div>

            <br>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Now we know that our digits are in particular location of the image.
                    </p>
                </div>

                <img src="img/fixed_perspective_boxes.jpg" class="col-lg-4 col-sm-12 img-responsive" alt="">
                
            </div>

            <br>

            <div class="row">
                <img src="img/digits_samples.png" class="col-lg-4 col-lg-offset-2 col-sm-12 img-responsive" alt="">

                <div class="col-lg-4">
                    <p>
                    With a little bit of magic, we can crop digits from the image. Digits are roughly 50x150px big and similar to MINST dataset.
                    Digits recognition uses LinearSVC from Scikit.
                    </p>
                </div>
                
                <br>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                    This was my first project with SimpleCV and I fell in love with this library.
                    Its API is really simple and easy to use and you don't need to have ten PhDs to understand it. <br>
                    I tried to document the code as much as possible, feel free to use it for whatever you want.
                    </p> 
                    <br>
                    <a href="https://github.com/ParalelniPolis/ppplyn" class="btn btn-lg btn-outline"  style="border-color:black; color:black;">
                        <i class="fa fa-code-fork"></i> Fork me on GitHub
                    </a>
                </div>                
            </div>

        </div>
    </section>


<!--    <section style="padding-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black;">3D Printed case</h2>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    <a href="http://makerslab.cz/" style="color:black;">MakersLab</a> designed and 3D printed the back cover for the board. Cover was printed on printer Prusa X1. Source files for the cover are included in the Github repository.
                    </p>
                </div>

                <img src="http://i.giphy.com/OIomT4cgaQ9fW.gif" class="col-lg-4 col-sm-12 img-responsive" alt="">
                
            </div>

            <br>

            <div class="row">
                <img src="http://i.giphy.com/UWBuuJCWB1yXC.gif" class="col-lg-4 col-lg-offset-2 col-sm-12 img-responsive" alt="">

                <div class="col-lg-4">
                    <p>
                    Area of the cover where Paralelni Polis's logo is is slightly thinner, which makes it easy to paint that area with black paint which blocks light from LEDs and makes our logo look really good.
                    It looks even better in person.
                    </p>
                </div>
                

            </div>

        </div>
    </section> -->




    <!-- Portfolio Grid Section -->
    <section class="success" id="gallery" style="background-color:#c9c9c9;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gallery</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/front-view.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/back-view.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/room-view.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cover_front_detail.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cover_paint_detail.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cover_without.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>



        </div>
    </section>

   <section id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black;">About Paralelni Polis</h2>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Paralelni Polis - Institute of crypto anarchy is non-profit organisation in Prague, Czech Republic.
                        Every year we hold <a href="http://www.hcpp.cz/eng/" style="color:black;">Hacker congress</a>, we 
                        <a href="https://news.bitcoin.com/bitcoin-nfc-implant-spotted-paralelni-polis-prague/" style="color:black;">implant NFC chips</a> into our bodies and organise a lot of interesting events, which you can find out more on <a href="https://www.facebook.com/vejdiven" style="color:black;">our Facebook page</a>.
                    </p>
                </div>

                <img src="img/pp_building.jpg" class="col-lg-4 col-sm-12 img-responsive" alt="">
                
            </div>

            <br>

            <div class="row">
                <img src="img/pp_coffee.jpg" class="col-lg-4 col-lg-offset-2 col-sm-12 img-responsive" alt="">

                <div class="col-lg-4">
                    <p>
                    <a href="https://www.facebook.com/bitcoincoffeeprague/" style="color:black;">Bitcoin Coffee</a> is the first Bitcoin-only espresso bar in the world. A coffee laboratory aimed at achieving a superior taste in every cup. It is a meeting point, where there are no borders between customers and stuff.
                    </p>
                </div>
                
            </div>

            <br>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Paper Hub is unique coworking space built for innovators, startups, students, digital nomads and hackers allowing them to work on their prototypes, experiments and projects. It offers innovative and creative working environment in the open space furnished with honeycomb paper furniture, offices with fixed desks, spacious terrace and meeting room. 
                    </p>
                </div>

                <img src="img/pp_hub.jpg" class="col-lg-4 col-sm-12 img-responsive" alt="">
                
            </div>

            <br>

<!--             <div class="row">
                <img src="img/pp_hackspace.jpg" class="col-lg-4 col-lg-offset-2 col-sm-12 img-responsive" alt="">

                <div class="col-lg-4">
                    <p>
                        Lepsi fotka k HS + povidani ?
                    </p>
                </div>
                
            </div> -->

        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center" id="thanks">
        <div class="footer-above">
            <div class="container">

                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3><a href="mailto:pavel@pavelkral.eu">Pavel Kral</a></h3>
                        <p>Gluing the code</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><a href="http://makerslab.cz/">MakersLab</a></h3>
                        <p>Amazing 3D printed case</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><a href="mailto:martin.cochner@gmail.com">Martin Čochner</a></h3>
                        <p>Improved digits recognition</p>
                    </div>
                </div>

                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3><a href="mailto:houba28@gmail.com">Jan Vochomůrka</a></h3>
                        <p>Modeling the case</p>
                    </div>
                    <div class="footer-col col-md-4">
<!--                         <h3><a href="http://makerslab.cz/">MakersLab</a></h3>
                        <p>Amazing 3D printed case</p> -->
                    </div>
<!--                     <div class="footer-col col-md-4">
                        <h3><a href="mailto:martin.cochner@gmail.com">Martin Čochner</a></h3>
                        <p>Improved digits recognition</p> -->
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Front side</h2>
                            <img src="img/front-view.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            This is just normal USB webcam Microsoft LifeCam HD-3000 with few LEDs
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Back side</h2>
                            <img src="img/back-view.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            ODROID-U3, TP-LINK USB Wi-Fi dongle, memory stick and voltage regulator occupy back side.
                            And yeah, there are lot of LEDs to ligh up the back cover.
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Basement</h2>
                            <img src="img/room-view.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            Everything in place
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Cover from the front side</h2>
                            <img src="img/cover_front.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            You can see black paint through single layer of plastic
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Painting the cover</h2>
                            <img src="img/cover_paint.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            Yeah, that is nail polish :)
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Without the cover</h2>
                            <img src="img/cover_without.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            Bright like sunlight
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73698634-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>

</html>
